body {
    padding: 20px;
}

.p20 {
    padding: 20px;
}

.canvasbox {
    border-radius: 3px;
    margin-right: 10px;
    width: 350px;
    height: 338px;
    border-bottom: 3px solid #0063FF;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
    background: black;
}

.canvasOverVideo {
    position: absolute;
    left: 33px;
    z-index: 999;
}

.mb10 {
    margin-bottom: 10px
}

.mt10 {
    margin-top: 10px
}

#colorPicker {
    height: 50px;
}

.updatenote {
    width: 160px;
    padding: 20px;
    background: rgb(245, 147, 20);
    color: white;
}

.videobox {
    visibility: collapse !important;
    width: 0px !important;
    height: 0px !important;
}